.wrapper {
    background-color: #f4effd;
}

.innerWrapper {
    width: 1000px;
    margin: 0 auto;
}

.items {
    display: flex;
}

.item {
    text-decoration: none;
    color: black;
    padding: 3px 40px;
}

.item:hover {
    background-color: #e9dffc;
}

.highlight {
    background-color: #e9dffc;
}