.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 223, 252, 0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    border: 1px solid #7743db;
    background-color: rgba(254,254,254);
    padding: 10px;
}

.modalInnerContent {
    padding: 15px 5px;
}

.closeBtn {
    color: white;
    background: crimson;
    float: right;
    border: none;
    font-size: 1.1em;
    padding: 0 5px;
}

.closeBtn:hover {
    font-weight: bold;
}

