.button {
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid rgb(255, 162, 0);
    background: #ffd4b7;
    color: 	#404040;
    font-size: 1.005em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 30px;
}

.card {
    margin-top: 20px;
    width: 1000px;
    border: 1px solid #7743db;
    border-radius: 10px;
    padding: 15px;
    background: #e9dffc;
}

.calSidebarWrapper {
    display: flex;
}

.cal {
    height: 500px;
}

.addBtnWrapper {
    width: 1000px;
    display: flex;
    justify-content: end;
}

.addBtn {
    margin-top: 10px;
    color: 	#404040;
    background: #cdf5fd;
    border: 1px solid #4ecaec;
}

.addBtn:hover {
    color: 	#404040;
    background: #a0e9ff;
    border-color: #a0e9ff;
}

.popUpWrapper {
    width: 1000px;
}

.popUp {
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid #9774d9;
    background: #f3edff;
    border-radius: 5px;
    width: 325px;
}

.completedApptsSection {
    margin-top: 50px;
}

.listHeader {
    display: flex;
    justify-content: space-between;
}